# Ignore all temporary Latex files
*.aux
*.dvi
*.log
*.nav
*.out
*.ps
*.snm
*.tex~
*.toc
*.bbl
*.blg
*.backup
*.bak
*.orig
\#*.tex\#
.\#*.tex
_*_.tex
auto/
*.fmt

# If needed, also ignore PDF documents (for use in Latex-Folders only)
*.pdf

